## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

## Publish output
[Pp]ublish/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio Code
.vscode/

## Rider
.idea/

## NuGet
*.nupkg
**/[Pp]ackages/*
**/project.assets.json
**/project.nuget.cache
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## Runtime data
config.json
Notes/

## Backup copies
*副本*/
